<div style="background-color:#6f2da8;height:200px;">
    <div class="container">
        <div class="row justify-content-md-center" style="margin-bottom: 30px;">
            <div class="col-md-auto text-center" style="margin-top:80px;color:white;font-size:20px;">
                Does your idea have a strong purpose ✔ and improve a customer experience ✔
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: white;">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6" style="">
            <img src="../../assets/images/scale2.png" alt="responsive webite" class="img-fluid">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6" style="padding:160px;">
            <h2>World Scale Events</h2>
            <br/>
            <ul>
                <li>Reach every customer in the world with either public or private services</li>
                <li></li>
            </ul>
            <p></p>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: white;">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 order-2 order-lg-1" style="padding:160px;">
            <h2>Meta Platform</h2>
            <br/>
            <ul>
                <li>A platform for platforms</li>
                <li>Fast, safe and continuous</li>
                <li>Baseline Resources</li>
                <li>Centralized Security</li>
                <li>Centralized Networking</li>
                <li>Centralized Governance</li>
                <li>CIS, PCI, NIST, many other compliances</li>
            </ul>
            <p>The idea is for platform engineering where the people building platforms on top of this platform dont have to worry about security, networking and governance.</p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 order-1 order-lg-2" style="">
            <img src="../../assets/images/platform2.png" alt="responsive webite" class="img-fluid">
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: white;">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6" style="">
            <img src="../../assets/images/swarm6.png" alt="responsive webite" class="img-fluid">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6" style="padding:160px;">
            <h2>Smart systems</h2>
            <br/>
            <ul>
                <li>Microservices acting together with complicated logic</li>
                <li>Multiple smart agents, custom AI logic or programmed logic</li>
                <li>Realtime Streaming and Unified customer experience</li>
            </ul>
            <p>Multiple smart agents acting together in swarms to do smart things, anything really.</p>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: white;">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 order-2 order-lg-1" style="padding:160px;">
            <h2>Collaborations</h2>
            <br/>
            <ul>
                <li>AWS</li>
                <li>WBSO</li>
                <li>3rd Party</li>
                <li>Specialists</li>
            </ul>
            <p>The idea is for platform engineering where the people building platforms on top of this platform dont have to worry about security, networking and governance.</p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 order-1 order-lg-2" style="">
            <img src="../../assets/images/platform2.png" alt="responsive webite" class="img-fluid">
        </div>
    </div>
</div>

<div style="background-color:#6f2da8;height:200px;">
    <div class="container">
        <div class="row justify-content-md-center" style="margin-bottom: 30px;">
            <!-- <div class="col-md-auto text-center" style="margin-top:80px;color:white;font-size:20px;">
                Does your idea have a strong purpose ✔ and improve a customer experience ✔
            </div> -->
        </div>
    </div>
</div>