<div style="background-color:#6f2da8;height:200px;">
    <div class="container">
        <div class="row justify-content-md-center" style="margin-bottom: 30px;">
            <div class="col-md-auto text-center" style="margin-top:80px;color:white;font-size:40px;">
                News
            </div>
        </div>
    </div>
</div>


<div *ngFor="let card of cards" class="row justify-content-center">
    <div class="col-10" style="min-width:300px;">
        <div class="card mb-3 shadow-lg p-3 mb-5 bg-body rounded">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src={{card.imageUrl}} alt="..." class="img-fluid" style="margin-top:auto;align-self: center;"/>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="{{card.postUrl}}" style="text-decoration: none;"><h5 class="card-title" style="display:inline;font-size: small">{{card.title}}</h5></a>
                        <br/>
                        <p style="display:inline;font-size: small">
                            {{card.date}} &nbsp;&nbsp;
                            <!-- <img src="assets/images/linkedin.png" width="14" height="14" *ngIf="card.linkedinViews > 0"/> <span *ngIf="card.linkedinViews > 0"> {{card.linkedinViews}} views </span> -->
                            <!-- <img src="assets/images/medium.png" width="16" height="16" *ngIf="card.mediumViews > 0"/> <span *ngIf="card.mediumViews > 0"> {{card.mediumViews}} views </span> -->
                            <!-- <img src="assets/images/youtube.png" width="22" height="22" *ngIf="card.youtubeViews > 0"/> <span *ngIf="card.youtubeViews > 0"> {{card.youtubeViews}} views </span> -->
                        </p>
                        <br/>

                        <br/>
                        <p class="card-text" style="display:inline;font-size: small;">
                            {{card.content}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>