
<app-background></app-background>

<div style="background-color:#6f2da8;">
    <div class="container" style="padding-left:0px!important">
        <br />
        <div class="row justify-content-md-center">
            <div class="col-md-auto text-center">
                <strong><span style="font-size:40px;color: white;">Shaping the tech frontier:</span></strong>
            </div>
        </div>
        <div class="row justify-content-md-center col-gap">
            <div class="col-sm-3 text-center" style="margin-top:40px;padding-top:20px;">
                <app-dodecahedron></app-dodecahedron>
                <h2 style="color:white;">Disruption</h2>
                <p style="color:white;">Whether it's a bleeding-edge idea or a socio-technical change in an organization, let me help you execute on these projects and the risks associated with them for a competitive advantage.</p>
                <!-- <button type="button" class="btn btn-success" style="font-size:20px;">Learn more</button> -->
            </div>
            <div class="col-sm-3 text-center" style="margin-top:40px;padding-top:20px;">
                <app-icosahedron></app-icosahedron>
                <h2 style="color:white;">Tech-first</h2>
                <p style="color:white;">The cloud has democratized tech, allowing your great ideas to be built quickly when you let technology take the lead and put your customers first.</p>
                <!-- <button type="button" class="btn btn-success" style="font-size:20px;">Learn more</button> -->
            </div>
            <div class="col-sm-3 text-center" style="margin-top:40px;padding-top:20px;">
                <app-octahedron></app-octahedron>
                <h2 style="color:white;">Collaboration</h2>
                <p style="color:white;">Fostering collaboration at every level through training and building 10x engineers and teams. Working with external organizations AWS, WBSO and many other 3rd-parties to ensure the success of your product.</p>
                <!-- <button type="button" class="btn btn-success" style="font-size:20px;">Learn more</button> -->
            </div>
        </div>
        <div class="row justify-content-md-center col-gap">
            <div class="col-sm-3 text-center" style="margin-top:40px;padding-top:20px;">
                <button type="button" class="btn btn-success" style="font-size:20px;" routerLink="/ideas">Learn more</button>
            </div>
        </div>
    </div>
</div>

<br/><br/><br/><br/>
