<div class="jumbotron bg-dark"
    style="border-radius:0px;color:white;background-image:url('assets/images/ams2.jpg');height:640px;background-size: cover;margin-bottom: 0px;">

    <br /> <br /><br />

    <div class="container-fluid">
        <div class="row justify-content-md-center col-gap">
            <div class="col-sm-4" style="min-width:400px;">
                <strong><span style="font-size:40px;">Leave your <span style="color: orange">AWS</span> cloud in the
                        hands of
                        a
                        AWS champion
                        <span style="color: #689cff">David Webster</span></span></strong>
            </div>
            <div class="col-md-auto text-center">
                <img src="./assets/images/mylogo.png" height="100" width="300" style="margin-top:50px;">
            </div>
        </div>
    </div>

</div>

<div style="background-color:#232f3e;">
    <div class="container">

        <br />
        <div class="row justify-content-md-center">
            <div class="col-md-auto text-center">
                <strong><span style="font-size:40px;color: white;">As seen on</span></strong>
            </div>
        </div>
        <div class="row justify-content-md-center col-gap">
            <div class="col-md-auto text-center" style="margin-top:40px;">
                <a href="https://davidwebstar.medium.com/"><img src=" ./assets/images/medium3.png" height="40" width="160"></a>
            </div>
            <div class="col-md-auto text-center" style="margin-top:40px;">
                <a href="https://youtu.be/Dh_DAz4LLOo"><img src="./assets/images/youtube_logo.png" height="40" width="160"></a>
            </div>
            <div class="col-md-auto text-center" style="margin-top:40px;">
                <a href="https://aws.amazon.com/blogs/training-and-certification/davids-story/"><img src="https://d0.awsstatic.com/logos/powered-by-aws-white.png" alt="Powered by AWS Cloud Computing"></a>
            </div>
        </div>
    </div>
</div>