<!-- <div class="jumbotron bg-dark"
    style="border-radius:0px;color:white;background-image:url('assets/images/webby2.jpg');height:680px;background-size: cover;margin-bottom: 0px;">

    <br /> <br /><br />

    <div class="container-fluid">
        <div class="row justify-content-md-center col-gap">
            <div class="col-sm-4" style="min-width:400px;">
                <strong><span style="font-size:40px;">Feel a <span style="color: orange">Wave</span> of disruption in your 
                        <span style="color: #689cff">Organization</span></span></strong>
            </div>
            <div class="col-md-auto text-center">
                <img src="./assets/images/mylogo.png" height="100" width="300" style="margin-top:50px;">
            </div>
        </div>
    </div>

</div> -->

<app-background></app-background>
<!-- <div class="background"></div> -->

<div style="background-color:#6f2da8;">
    <div class="container" style="padding-left:0px!important">
        <br />
        <div class="row justify-content-md-center">
            <div class="col-md-auto text-center">
                <strong><span style="font-size:40px;color: white;">Shaping the tech frontier:</span></strong>
            </div>
        </div>
        <div class="row justify-content-md-center col-gap">
            <div class="col-sm-3 text-center" style="margin-top:40px;padding-top:20px;">
                <app-dodecahedron></app-dodecahedron>
                <h2 style="color:white;">Disruption</h2>
                <p style="color:white;">Whether it's a bleeding-edge idea or a socio-technical change in an organization, let me help you execute on these projects and the risks associated with them for a competitive advantage.</p>
                <!-- <button type="button" class="btn btn-success" style="font-size:20px;">Learn more</button> -->
            </div>
            <div class="col-sm-3 text-center" style="margin-top:40px;padding-top:20px;">
                <app-icosahedron></app-icosahedron>
                <h2 style="color:white;">Tech-first</h2>
                <p style="color:white;">The cloud has democratized tech, allowing your great ideas to be built quickly when you let technology take the lead and put your customers first.</p>
                <!-- <button type="button" class="btn btn-success" style="font-size:20px;">Learn more</button> -->
            </div>
            <div class="col-sm-3 text-center" style="margin-top:40px;padding-top:20px;">
                <app-octahedron></app-octahedron>
                <h2 style="color:white;">Collaboration</h2>
                <p style="color:white;">Fostering collaboration at every level through training and building 10x engineers and teams. Working with external organizations AWS, WBSO and many other 3rd-parties to ensure the success of your product.</p>
                <!-- <button type="button" class="btn btn-success" style="font-size:20px;">Learn more</button> -->
            </div>
        </div>
        <div class="row justify-content-md-center col-gap">
            <div class="col-sm-3 text-center" style="margin-top:40px;padding-top:20px;">
            </div>
            <div class="col-sm-3 text-center" style="margin-top:40px;padding-top:20px;">
                <button type="button" class="btn btn-success" style="font-size:20px;">Learn more</button>
            </div>
            <div class="col-sm-3 text-center" style="margin-top:40px;padding-top:20px;">
            </div>
        </div>
    </div>
</div>


<!-- <div style="background-color:#05273b;">
    <div class="container" style="padding-left:0px!important">

        <br />
        <div class="row justify-content-md-center">
            <div class="col-md-auto text-center">
                <strong><span style="font-size:40px;color: white;">Shaping the tech frontier:</span></strong>
            </div>
        </div>
        <div class="row justify-content-md-center col-gap">
            <div class="col-md-auto text-center" style="margin-top:40px;padding-top:20px;">
                <a href="https://davidwebstar.medium.com/"><img src=" ./assets/images/medium3.png" height="40" width="160"></a>
            </div>
            <div class="col-md-auto text-center" style="margin-top:40px;padding-top:20px;">
                <a href="https://youtu.be/Dh_DAz4LLOo"><img src="./assets/images/youtube_logo.png" height="40" width="160"></a>
            </div>
            <div class="col-md-auto text-center" style="margin-top:40px;padding-top:20px;">
                <a href="https://aws.amazon.com/blogs/training-and-certification/davids-story/"><img src="https://d0.awsstatic.com/logos/powered-by-aws-white.png" height="72" width="200" alt="Powered by AWS Cloud Computing"></a>
            </div>
        </div>
    </div>
</div> -->

<br/><br/><br/><br/>
